body{
    background-color: blue;
}
.oneofthefoundersofkfc{
    background-color: darkorange;
}
.thesecondfounderofkfc{
    background-color: chartreuse;
}
.howmanybranchestheyhaveinkenya{
    background-color: crimson;
}
